<!DOCTYPE html>
<html ng-app="mainApp" lang="en">

  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
    <link rel="stylesheet" href="main.css">
  </head>

  <body ui-view>
    <!-- AngularJS libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.min.js">
    </script>

    <!-- Angular Material library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js">
    </script>

    <!-- Material icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- app.js -->
    <script src="app.js"></script>
    <script src="constants.js"></script>

    <!-- Controllers -->
    <script src="index_ctrl.js"></script>

    <!-- SoundCloud -->
    <script src="https://connect.soundcloud.com/sdk/sdk-3.1.2.js"></script>

    <!-- Services -->
    <script src="soundcloud_service.js"></script>

    <div class="weather-container" layout="row" layout-align="center stretch">
      <div class="weather-no-select" layout="column" layout-align="center center"
           ng-if="IndexCtrl.isReady">
        <div class="weather-temp">
          <img class="weather-icon" ng-src="assets/images/{{IndexCtrl.weatherObj.icon}}.png"
               alt="{{IndexCtrl.weatherObj.description}}" />
          <span ng-dblclick="IndexCtrl.toggleTemp()">{{IndexCtrl.weatherObj.temp}}&deg;
            <span ng-show="IndexCtrl.isFahrenheit">F</span>
            <span ng-show="!IndexCtrl.isFahrenheit">C</span>
          </span>
        </div>
        <div class="city">
          {{IndexCtrl.weatherObj.city}}
        </div>

        <br>
        <i class="material-icons weather-audio-icon" ng-show="IndexCtrl.isPaused"
           ng-click="IndexCtrl.pause()">
          volume_off
        </i>
        <i class="material-icons weather-audio-icon" ng-show="!IndexCtrl.isPaused"
           ng-click="IndexCtrl.pause()">
          volume_up
        </i>

      </div>
    </div>

  </body>
</html>
