body {
  font-size: 250%;
}

*:focus {
    outline: none;
}

.weather-container {
  height: 100%;
}

.weather-temp {
  display: inline-block;
  text-align: center;
}

.weather-no-select {
  -webkit-user-select: none;
  cursor: default;
}

.weather-icon {
    width: 18%;
    height: auto;
}